sudo: required
services:
  - docker

language: python
python:
  - "2.7"
# command to install dependencies
before_install:
  - git clone https://github.com/kbase/kb_sdk
  - cd kb_sdk
  - make sdkbase
  - docker run -d -p 5000:5000 --name registry registry:2
  - docker ps -a

# command to run tests
script: ./run.sh